[Unit]
Description=GiteaDB container

[Container]
Image=docker.io/yobasystems/alpine-mariadb:latest

#flag for autoupdates
Label=io.containers.autoupdate=registry

# Use volume and network defined below
Volume=giteadb:/var/lib/mysql
Network=pasta.network

#reference envfile for secrets
EnvironmentFile=/var/home/core/server/gitea/envfile

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
