[Unit]
Description=Redis container

[Container]
Image=docker.io/redis
PublishPort=6379:6379
User=999
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
